version: "3.8"

services:
  postgres:
    image: postgres:14-alpine
    environment:
      POSTGRES_USER: nms
      POSTGRES_PASSWORD: nms_password
      POSTGRES_DB: nms_db
    ports:
      - "5499:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:7-alpine
    ports:
      - "6399:6379"
    volumes:
      - redis_data:/data

  nats:
    image: nats:2-alpine
    ports:
      - "4299:4222"
      - "8299:8222"

  influxdb:
    image: influxdb:2.7-alpine
    environment:
      DOCKER_INFLUXDB_INIT_MODE: setup
      DOCKER_INFLUXDB_INIT_USERNAME: nms
      DOCKER_INFLUXDB_INIT_PASSWORD: nms_password
      DOCKER_INFLUXDB_INIT_ORG: nms_org
      DOCKER_INFLUXDB_INIT_BUCKET: nms_bucket
    ports:
      - "8099:8086"
    volumes:
      - influxdb_data:/var/lib/influxdb2

volumes:
  postgres_data:
  redis_data:
  influxdb_data:
